<!DOCTYPE html>
<html>
  <head>
    <title>Ulapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header id='menu'>
      <p>
        ShowMe
      </p>
      <ul>
        <li><%= link_to "EVENTS", "../events" %></li>
        <li><%= link_to "New Event", new_event_path  %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li class='last'><%= link_to "Sign In", "../users/sign_in" %></li>
      </ul>
    </header>

    <div id='content'>
      <%= yield %>
    </div>

  </body>
</html>
