<!DOCTYPE html>
<html>
  <head>
    <title>Ulapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header id='menu'>
      <p>
        AwsTutorial
      </p>
      <ul>
        <li><%= link_to "EVENTS", "../events/index" %></li>
        <li><%= link_to "Menu1", "#" %></li>
        <li><%= link_to "Menu2", "#" %></li>
        <li class='last'><%= link_to "Menu5", "#" %></li>
      </ul>
    </header>
    
    <%= yield %>
  </body>
</html>
